* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#conteiner {
    text-align: center;
    margin-bottom: 20px;
}

#logo {
    width: 150px;
}

#icone-conteiner {
    background-color: white;
    max-width: 500px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#icone {
    width: 50px;
    margin-bottom: 10px;
}

#texto-menusuperior {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

#texto-menuinferior {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

#area-botao {
    background-color: #3b82f6;
    padding: 20px;
    border-radius: 8px;
}

#botao {
    background-color: #3b82f6;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

    #botao:hover {
        opacity: 0.5;
        transition-duration: 1s;
    }
