@using System.Security.Claims
@using WebApp.Enumerators

<div id="userbox" class="userbox">
    <a href="#" data-toggle="dropdown">
        <figure class="profile-picture">
            <img src="~/assets/images/logo.png" alt="Joseph Doe" class="img-circle" data-lock-picture="~/assets/images/!logged-user.jpg" />
        </figure>
        <div class="profile-info" >
            <span class="name">
                @if (User.Identity != null)
                {
                    @User.Identity.Name@:</span>
                    @:<span class="role">@(((ClaimsIdentity)User.Identity).FindFirst(ClaimTypes.Role)?.Value)
                }

            </span>
        </div>

        <i class="fa custom-caret"></i>
    </a>

    <div class="dropdown-menu">
        <ul class="list-unstyled">
	        <li>
		        <a role="menuitem" tabindex="-1" href="#" onclick="document.forms['nav-logout'].submit();"><i class="fa fa-power-off"></i> Sair</a>
		        <form class="form-inline" name="nav-logout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})"></form>
	        </li>
        </ul>
    </div>
</div>