@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.v102_488 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    width: 220px;
    height: 510px;
    padding: 5px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    overflow: hidden;
    flex-direction: column;
    position: relative;
}

.div-icon {
    width: 60px;
    height: 60px;
    position: relative;
    margin: 0 auto;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #df436c;
    position: absolute;
}

.icon {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 10px;
    left: 10px;
}

.div-title {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    text-align: center;
}

.span-title {
    color: rgba(0, 0, 0, 1);
    font-family: Nunito, sans-serif;
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

.span-subtitle {
    color: rgba(0, 0, 0, 1);
    font-family: Nunito, sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: block;
}

.bar-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

    .bar-title span:nth-child(1) {
        color: rgba(0, 0, 0, 1);
        font-family: Nunito, sans-serif;
        font-weight: 300;
        font-size: 18px;
    }

    .bar-title span:nth-child(2) {
        font-family: Nunito, sans-serif;
        font-weight: 1000;
        font-size: 16px;
    }

.bar-div {
    width: 100%;
    height: 12px;
    margin-top: 5px;
    position: relative;
}

    .bar-div div:nth-child(1) {
        width: 100%;
        height: 12px;
        border-radius: 20px;
    }

    .bar-div div:nth-child(2) {
        height: 12px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px;
    }

.div-desc {
    flex-grow: 1;
    padding: 15px 0;
    margin-top: 10px;
    overflow-y: auto;
}

    .div-desc span {
        color: rgba(0, 0, 0, 1);
        font-family: Nunito, sans-serif;
        font-weight: 300;
        font-size: 14px;
        text-align: justify;
        display: block;
    }
